<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700">
<link rel="stylesheet" href="/styles/userHome.css">

<nav>
    <ul class="nav-list">
        <li class="nav-item">
            <a href="#"><b>Welcome..</b></a>
        </li>
        {{!-- </li>
        <li class="nav-item">
            <a href="#">About</a>
        </li>
        <li class="nav-item">
            <a href="#">Work</a>
        </li>
        <li class="nav-item">
            <a href="#">Contact</a>
        </li> --}}

        <li class="nav-item">
            <button class="btn-primary"><b>Logout</b></button>
        </li>
    </ul>
</nav>